@model IEnumerable<TrainingCenterManagement_MVC.Models.Payment>

@{
    ViewData["Title"] = "Course Payments";
}

<h2>مدفوعات دورة: @ViewBag.CourseName</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>المتدرب</th>
            <th>المبلغ</th>
            <th>تاريخ الدفع</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Trainee.User.FullName</td>
                <td>@item.TotalAmount.ToString("C")</td>
                <td>@item.CreatedDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>

