@model IEnumerable<TrainingCenterManagement_MVC.Models.Certificate>
@{
    ViewData["Title"] = "Certificates By Course";
}

<h2>Certificates for Course</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Trainee</th>
            <th>Average</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cert in Model)
        {
            <tr>
                <td>@cert.Trainee.User.FullName</td>
                <td>@cert.Average%</td>
                <td>
                    <a asp-controller="Admin" asp-action="GenerateCertificatePdf" asp-route-certificateId="@cert.CertificateId"
                       class="btn btn-sm btn-danger">PDF</a>
                </td>
            </tr>
        }
    </tbody>
</table>
