@model TrainingCenterManagement_MVC.Models.Trainee

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-4">Create Trainee</h1>

<h4>Trainee Details</h4>
<hr />

<div class="row justify-content-center">
    <div class="col-md-5">
        <form asp-action="Create" method="post" novalidate>
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="mb-3">
                <label asp-for="UserId" class="form-label"></label>
                <select asp-for="UserId" class="form-select" asp-items="ViewBag.UserId">
                    <option value="">-- Select User --</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

          @*   <div class="mb-3">
                <label asp-for="BirthDate" class="form-label"></label>
                <input asp-for="BirthDate" type="date" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div> *@

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
