<thead class="table-dark">
    <tr>
        <th>Total Amount</th>
        <th>Created Date</th>
    </tr>
</thead>
<tbody>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.TotalAmount.ToString("C")</td>
            <td>@p.CreatedDate.ToString("dd MMM yyyy")</td>
        </tr>
    }
</tbody>
